main {
    display: flex;
    position: relative;
    place-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    min-height: 100vh;
    min-width: 100vw;
    height: 100%;
    width: 100%;
    // width: fit-content;

    background: transparent;
    overflow-y: hidden;
    overflow-x: scroll;
}

.timelineContent {
    display: flex;
    flex-direction: row;
    gap: 20vw;
    padding-left: 40vw;
    padding-right: 40vw;

    .interactableIcon:nth-child(even) {
        margin-bottom: 200px;
    }

    .interactableIcon:nth-child(odd) {
        margin-top: 200px;
    }
}

html {

    cursor: grab;
}

.grabbed_elem {
    cursor: grabbing;
    scroll-behavior: auto;
}

.active {
    cursor: grabbing;
}

html {
    scroll-behavior: smooth;
}

#svg-canvas {
    position: static;
    user-select: none;
    pointer-events: none;

    circle {

        filter: blur(6px);
    }

    path {
        filter: blur(6px);
        color: white;
    }

    z-index: -1;
}