@charset "UTF-8";

@import './variables.scss';

body {
  display: flex;
  position: relative;
  place-items: center;
  height: 100%;
  width: fit-content;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  margin: $spacing-0;
  background: transparent;
  text-align: center;
  overflow-y: hidden;
  overflow-x: auto;
}

h1 {
  font-size: 3.815rem;
  margin-bottom: $spacing-12;
}

::-webkit-scrollbar {
  display: none;
}