.interactableIcon {

    &.selected {
        .point {
            opacity: 0;
        }

        animation: pulseScale infinite alternate ease-in-out 4s;
        scale: 2;
        z-index: 100;

        .infoPanel {
            position: absolute;
            display: flex;
            width: 20vw;
            height: fit-content;
            user-select: text;
            pointer-events:fill;
            transition: all 0.5s ease-in-out;
            transform-origin: left;
            left: 120%;
            opacity: 1;
            cursor: auto;

        }
    }

    user-select: none;
    display: flex;
    position:static;
    // position:absolute;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    place-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    transition: scale 0.5s ease-in-out;
    overflow-x: visible;
    outline: none;
    z-index: 0;

    &:hover:not(:has(.infoPanel:hover)) {
        scale: 1.5;
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        border-radius: 999999px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 0.5s;
        background: white;
        filter: blur(4px);
    }

    &:active {

        &:after {
            box-shadow: 0 0 0 0 white;
            position: absolute;
            border-radius: 999999px;
            left: 0;
            top: 0;
            scale: 0;
            opacity: 1;
            transition: 0s;
        }

        .point {
            box-shadow: 0 0 0 0 white;
            border-radius: 4em;
            opacity: 0;
            transition: 1s;
        }

    }


    animation: pulseScale infinite alternate ease-in-out 2s;

    .logo {
        display: flex;
        width: 164px;
        z-index: 1;
        position: absolute;
        transition: all 0.5s ease-in-out;
    }

    .point {
        transition: all 0.5s ease-in-out;
        animation: bright infinite alternate ease-in-out 3s;
    }

    .infoPanel {
        display:flex;
        opacity: 0;
        position: fixed;
        flex-direction: column;
        color: white;
        width: 0px;
        height: 0px;
        background: #000;
        transition: all 0.5s ease-in-out;
        transform-origin: left;
        left: 120%;
        border-radius: 12px;
        padding: 0.75rem 1rem;

        .top-section {
            display: flex;
            flex-direction: row;
            gap: 4px;

            h1 {
                display: flex;
                margin: 0;
                font-size: 100%;
            }

            h2 {
                display: flex;
                margin: 0;
                font-size: 80%;
                color: #aaa;
            }
        }
        p{
            flex-direction: column;
            padding: 0;
            margin: 0;
            font-size: 1ch;
            text-align: justify;
            overflow: hidden;
            padding-right: 2rem;
        }
        hr {
            display: flex;
            width: 100%;
            border-radius: 999px;
        }

       
    }



    @keyframes bright {
        0% {
            filter: opacity(0.3);
        }

        100% {
            filter: opacity(0.75);
        }
    }


    @keyframes pulseScale {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

}